<!DOCTYPE html> 
<html>
<head>
<link href="/style.css" media="screen" rel="stylesheet" type="text/css">
<title><%= $sitename %></title>
</head>
<body>
<div id="header">
<h1><%= $sitename %></h1>
</div>
<div id="main">
<%= yield %>
</div>
<div id="footer">
<h3>How to clone?</h3>
<p>
git clone <%=$gituser%>@<%=$githost%>:<%=$reporoot%>/<i style="color:#666">repository_name</i>.git
</p>
<h3>Create a new repository</h3>
<p>
<form name="f" method="post" action="/create">
Create a repository with name <input type="text" name="reponame">
<input type="submit" value="create">
</form>
</p>
<h3>How to push an existing repository</h3>
<ul>
<li>create a new repository here.</li>
<li><b>git remote add origin <%=$gituser%>@<%=$githost%>:<%=$reporoot%>/<i style="color:#666">repository_name</i>.git</b></li>
<li><b>git push -u origin master</b></li>
<li>For the next pushes just use: <b>git push</b></li>
</ul>
</div>
<div id="helpbox">
<h3>Git resources</h3>
If you need to create a public repository make sure to check <a href="http://github.com">Github</a>. It rocks and it is free for open source software.
<br>
Need some git help? <a href="http://gitimmersion.com/">Git Immersion</a> is a very cool full immersion git experience.
<br>
You can find the latest version of Gitan <a href="http://github.com/antirez/gitan">on github</a>, of course.
</div>
</body>
</html>
