<div class="back"><a href="/">&laquo; Repositories</a></div>
<div class="repotitle">
<h2><%= he(@repo) %></h2>
<p>
git clone <%=$gituser%>@<%=$githost%>:<%=$reporoot%>/<%=he(@repo)%>.git
</p>
</div>
<h3>Branches</h3>
<ul>
<%=
h = ""
path = $reporoot + "/" + @repo + ".git"
p = IO.popen("scripts/branchinfo.sh #{path}", :external_encoding=>"UTF-8")
p.to_a.each{|branch|
    h += "<li>#{he(branch.sub("* ",""))}</li>\n"
}
p.close
h
%>
</ul>

<h3>Latest commits</h3>
<ul class="commits">
<%=
h = ""
path = $reporoot + "/" + @repo + ".git"
p = IO.popen("scripts/branchlog.sh #{path}", :external_encoding=>"UTF-8")
p.to_a.each{|commit|
    i = commit.index(" ")
    rev = commit[0..(i-1)]
    descr = commit[i..-1]
    h += "<li><a href=\"/commit/#{he @repo}/#{rev}\">#{ue rev}</a> #{he descr}</li>\n"
}
p.close
h
%>
</ul>
